.team-img {
  height: 150px;
  width: 150px;
  margin-right: 1rem;
  object-fit: cover;
}

.img-bkg {
  height: 300px;
  width: 300px;
  border-radius: 3rem;
}

.place-left {
  margin-left: 0;
}

.place-right {
  margin: 0 0 0 auto;
}

.text-style {
  max-width: 500px;
}

.max-w-sm {
  max-width: 800px;
}
