.team-img {
  height: 150px;
  width: 150px;
  margin-right: 1rem;
  object-fit: cover;
}
.nav-item {
  margin: 0 0.4rem;
}

/* lg breakpoint */
@media (min-width: 992px) {
  nav .navbar-brand {
    display: none;
  }
}

nav .navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
}
