@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Fira Mono", monospace;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.fs-big {
  font-size: 3.5rem;
}

.sep {
  height: 4rem;
}

.f {
  border: 2px solid red;
}

.nav-item {
  margin: 0 0.4rem;
}

/* lg breakpoint */
@media (min-width: 992px) {
  nav .navbar-brand {
    display: none;
  }
}

nav .navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
}

.bg-lb {
  background: #9dced2;
}

.bg-lo {
  background: #ffe9cf;
}

.bg-gray {
  background: #bec5d6;
}

.bg-o {
  background: #eabc86;
}

.bg-do {
  background: #ef7e3e;
}

.iframe {
  border-radius: 20px;
}
